.page-container {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

article > .article-body {
    width: 800px;
    margin-right: 20px;
}

article > #feedsContainerTop {
    width: 400px;
}